*{
    margin: 0;
}

.body{
    background-image: url(forest.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    margin:0;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.leftnavbar{
   width:50px;
   margin-left: 130px;
}
.rightnavbar ul{
    display: flex;
    justify-content: space-between;
}
.rightnavbar{
    width: 80vh;
    display: block;
    justify-content: space-between;
}
.logo{
    height: 50px;
}
.user-image {
    height: 35px;
}
